@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  background-color: #F2F2F2;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/* Header */

.main-header {
  position: relative;
  height: auto;
  min-height: 65px;
  padding-left: 56px;
  padding-right: 72px;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  margin-right: -1px;
}

.nav-item:not(:last-child):not(.nav-user .nav-item) {
  margin-right: 3px;
}

.nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  border: 3px solid transparent;
  border-radius: 10px;
}

.nav-link-current::before {
  position: absolute;
  right: 10px;
  bottom: -15px;
  left: 12px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.nav-link:not(.nav-link-current):hover {
  color: #756257;
}

.nav-link-current:hover {
  cursor: default;
}

.nav-link:focus {
  outline: none;
  color: #756257;
  border-color: #83B3D3;
}

.nav-link:focus:not(:focus-visible) {
  color: #000000;
  border-color: transparent;
}

.nav-link:focus-visible {
  outline: none;
  color: #756257;
  border-color: #83B3D3;
}

.nav-link:active {
  color: #756257;
  opacity: 0.3;
  border: 3px solid transparent;
}

.nav-link-current:active {
  color:#000000;
  opacity: 1;
}

.nav-logo {
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -69px;
}

.nav-user {
  display: flex;
  align-items: center;
  width: auto;
  margin-left: auto;
  margin-right: 22px;
}

.nav-user .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 10px;
}

.nav-user .nav-link:hover svg {
  fill: #756257;
}

.nav-user .nav-link:focus {
  outline: none;
  border-color: #83B3D3;
}

.nav-user .nav-link:focus svg {
  fill: #756257;
}

.nav-user .nav-link:focus:not(:focus-visible) {
  border-color: transparent;
}

.nav-user .nav-link:focus:not(:focus-visible) svg {
  fill: #000000;
}

.nav-user .nav-link:focus-visible {
  outline: none;
  border-color: #83B3D3;
}

.nav-user .nav-link:focus-visible svg {
  fill: #756257;
}

.nav-user .nav-link:active {
  border: 3px solid transparent;
  opacity: 0.3;
}

.nav-user .nav-link:active svg {
  fill: #756257;
  opacity: 0.3;
}

.favourite-link {
  position: relative;
}

.favourite-number {
  position: absolute;
  top: -2px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: -0.1em;
  color: #ffffff;
  border-radius: 11px;
  background: #7DB54F;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
}

a.button {
  display: block;
  box-sizing: border-box;
  height: 37px;
  margin: 14px 0;
  padding: 0 35px;
  line-height: 37px;
  text-align: center;
}

a.button:hover {
  background-color: #615048;
}

a.button:focus {
  outline: none;
  background-color: #615048;
  box-shadow: 0 0 0 3px #83B3D3;
}

a.button:focus:not(:focus-visible) {
  background-color: #756257;
  box-shadow: none;
}

a.button:focus-visible {
  outline: none;
  background-color: #615048;
  box-shadow: 0 0 0 3px #83B3D3;
}

a.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  box-shadow: none;
}

.hotel-container a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  margin: 0;
  padding: 0;
}

.hotel-container .button-small,
.hotel-container .button-fav  {
  align-self: flex-end;
}

a.button-search {
  height: auto;
  margin: 0 auto;
  margin-top: 59px;
  padding: 12px 150px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

/* Main (Index) */

.welcome {
  padding-bottom: 80px;
}

.welcome-container {
  height: 485px;
  text-align: center;
  background:
   url("../img/divider.svg") no-repeat center 428px,
   #68A2CA url("../img/index-bg.jpg") no-repeat center;
}

.welcome-pic {
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome-slogan {
  width: 720px;
  margin: 0 auto;
  padding-top: 61px;
  text-align: center;
}

.welcome-title {
  margin-top: 0;
  margin-bottom: 33px;
  font-size: 30px;
  text-transform: uppercase;
}

.welcome-description {
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.advantages-pic {
  height: auto;
}

.advantages-container {
  padding: 98px 90px 77px 90px;
}

.advantages-town {
  display: flex;
}

.advantages-bridge {
  display: flex;
}

.advantages-title, .advantages-subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description, .advantages-subdescription {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-title {
  margin-bottom: 26px;
}

.advantages-description:not(:last-child) {
  margin-bottom: 30px;
}

.advantages-subtitle {
  margin-bottom: 20px;
}

.advantages-sublist {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-town, .advantages-bridge {
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-territory, .advantages-tourists, .advantages-road,
.advantages-house, .advantages-food, .advantages-souvenir  {
  box-sizing: border-box;
  width: 400px;
  padding: 98px 90px 77px;
}

.advantages-house {
  padding-top: 184px;
  padding-bottom: 89px;
  background: rgba(131, 179, 211, 0.12) url("../img/house-icon.svg") no-repeat;
  background-position: center 89px;
}

.advantages-food {
  padding: 184px 86px 89px;
  background: url("../img/food-icon.svg") no-repeat;
  background-position: center 91px;
}

.advantages-souvenir {
  padding-top: 184px;
  padding-bottom: 89px;
  background: rgba(131, 179, 211, 0.12) url("../img/souvenir-icon.svg") no-repeat;
  background-position: center 85px;
}

.advantages-territory, .advantages-tourists {
  padding-bottom: 110px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-territory {
  padding: 98px 84px 110px;
}

.advantages-road {
  padding: 98px 84px 110px;
  background-color: rgba(131, 179, 211, 0.2);
}

.search {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 89px 100px 91px;
  text-align: center;
}

.search-lead {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  margin: 0;
  line-height: 26px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 411px;
  padding: 92px 200px;
  text-align: center;
  color: #ffffff;
  background: #68A2CA url("../img/subscribe-bg.jpg") no-repeat center;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 15px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  align-items: stretch;
  margin-top: 32px;
}

.field {
  box-sizing: border-box;
  margin: 0;
  padding: 17px 22px;
  width: 600px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field:hover,
.field:focus {
  background-color: #E6E6E6;
}

.field:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}

.field:focus:not(:focus-visible) {
  background-color: #F2F2F2;
  box-shadow: none;
}

.field:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}

.field:not(:placeholder-shown) {
  color: #000000;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #000000;
}

.field.error {
  color: rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #FF5757;
}

.subscribe-form .button-secondary {
  margin: 0;
  width: 200px;
  border-radius: 0 10px 10px 0;
}

/* Main (Inner) */

.filter-container {
  box-sizing: border-box;
  min-height: 408px;
  margin-bottom: 44px;
  padding: 42px 72px 61px 71px;
  color: #ffffff;
  background: #68A2CA url("../img/catalog-bg.jpg") no-repeat center;
  background-size: cover;
}

.inner-header {
  margin-bottom: 45px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

/* Breadcrumbs */

.breadcrumbs {
  position: relative;
  display: flex;
  margin: 0;
  margin-left: -9px;
  padding: 0;
  list-style-type: none;
}
.breadcrumbs-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.breadcrumbs-link {
  display: block;
  padding: 3px 5px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 4px;
}

.breadcrumbs-home {
  display: block;
  width: 28px;
  height: 27px;
  padding: 0;
  background: url("../img/home-icon.svg") no-repeat center 6px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  top: 40%;
  right: -6px;
  width: 6px;
  height: 8px;
  background: url("../img/nav-arrow.svg") no-repeat;
  content: "";
  opacity: 0.3;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: none;
  border-color: #83B3D3;
}

.breadcrumbs-link:focus:not(:focus-visible) {
  border-color: transparent;
}

.breadcrumbs-link:focus-visible {
  outline: none;
  border-color: #83B3D3;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-current:hover,
.breadcrumbs-current:active {
  opacity: 1;
}

/* Filters */

.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-form-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.filter-form-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.range {
  display: flex;
  flex-direction: column;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  left: 0;
  width: 227px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}

.range-toggle:focus:not(:focus-visible) {
  box-shadow: none;
}

.range-toggle:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}

.range-toggle:active {
  outline: none;
  box-shadow: 0 0 0 2px #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-wrapper-inputs {
  display: flex;
}

.range-price-wrapper {
  position: relative;
}

.filter-form-label {
  position: absolute;
  top: 5px;
  right: 10px;
}

.filter-form-input {
  margin: 0;
  padding: 12px 15px 9px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  appearance: textfield;
}

.filter-form-input::-webkit-outer-spin-button,
.filter-form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 160px;
  text-align: center;
}

.filter-button {
  display: block;
  margin: 54px 0 19px;
  padding: 13px 0 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background: #83B3D3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #68A2CA;
}

.filter-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff;
}

.filter-button:focus:not(:focus-visible) {
  background: #83B3D3;
  box-shadow: none;
}

.filter-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff;
}

.filter-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
  box-shadow: none;
}


.reset-button {
  display: block;
  margin: 0 auto;
  padding: 1px 10px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}

.reset-button:focus:not(:focus-visible) {
  box-shadow: none;
}

.reset-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}

.reset-button:active {
  opacity: 0.3;
  box-shadow: none;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.filter-results {
  padding: 0 72px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.results-text {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.sorting-form {
  margin-left: auto;
  margin-right: 81px;
}

.select {
  position: relative;
  width: 287px;
}

.select-control {
  width: 100%;
  padding: 13px 51px 13px 17px;
  font: inherit;
  font-size: 18px;
  line-height: 1;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background: url("../img/dropdown-arrow.svg") no-repeat;
  background-position: right 19px center;
  appearance: none;
  -webkit-appearance: none;
}

.select-control:hover {
  border-color: #83B3D3;
}

.select-control:focus {
  outline: none;
  border-color: #83B3D3;
}

.select-control:focus:not(:focus-visible) {
  border-color: #E6E6E6;
}

.select-control:focus-visible {
  outline: none;
  border-color: #83B3D3;
}

.viewtype-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.viewtype-button:last-child {
  margin-right: 0;
}

.viewtype-button:hover,
.viewtype-button:focus {
  outline: none;
  border-color: #83B3D3;
}

.viewtype-button:focus:not(:focus-visible) {
  border-color: #E6E6E6;
}

.viewtype-button:focus-visible {
  outline: none;
  border-color: #83B3D3;
}


.viewtype-button-current {
  border-color: #000000;
}

.viewtype-button-current:hover {
  border-color: #000000;
  cursor: default;
}

.hotel-card {
  display: flex;
  width: 100%;
  margin-bottom: 31px;
  padding-bottom: 29px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card:first-of-type {
  padding-top: 31px;
  border-top: 1px solid #E6E6E6;
}

.hotel-img-link {
  height: 120px;
  margin-right: 36px;
}

.hotel-img-link:focus {
  outline: none;
}

.hotel-img {
  width: 180px;
}

.hotel-img-link:hover img {
  opacity: 0.6;
}

.hotel-img-link:focus img {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.hotel-img-link:focus:not(:focus-visible) img {
  outline: none;
}

.hotel-img-link:focus-visible img {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.hotel-img-link:active img {
  opacity: 0.3;
}

.hotel-container {
  display: grid;
  grid-template-columns: 151px 160px;
  grid-template-rows: min-content min-content;
  align-items: start;
  column-gap: 8px;
  flex-grow: 1;
}

.hotel-title {
  grid-column: span 2;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}

.hotel-title-link {
  display: block;
  width: max-content;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  border-radius: 1px;
}

.hotel-title-link:hover {
  color: #756257;
}

.hotel-title-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 5px;
  color: #756257;
}

.hotel-title-link:focus:not(:focus-visible) {
  outline: none;
  color: #000000;
}

.hotel-title-link:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 5px;
  color: #756257;
}

.hotel-container .hotel-title-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.hotel-type {
  font-size: 18px;
  line-height: 31px;
}

.hotel-price {
  font-size: 18px;
  line-height: 31px;
  font-weight: 400;
}

.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hotel-star {
  display: flex;
  margin-top: 1px;
}

.hotel-star-pic:not(:last-child) {
  margin-right: 7px;
}

.hotel-rating {
  display: block;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 21px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.count-form-label {
  margin-right: 51px;
  font-size: 18px;
  line-height: 23px;
}

.subscribe-inner {
  min-height: auto;
  padding-top: 87px;
  padding-bottom: 138px;
  color: #333333;
  background-color: #ffffff;
  background-image: none;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 31px;
  border-top: 1px solid #E6E6E6;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item {
  list-style-type: none;
  margin-right: 8px;
}

.count-form {
  display: flex;
  align-items: center;
}

.count-form .select {
  width: 160px;
}

.button-secondary {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: #68A2CA;
}

.button-secondary:focus {
  outline: none;
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #756257;
}

.button-secondary:focus:not(:focus-visible) {
  background-color: #83B3D3;
  box-shadow: none;
}

.button-secondary:focus-visible {
  outline: none;
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #756257;
}

.button-secondary:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item .button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
}

.button-current {
  color: #000000;
  background-color: #F2F2F2;
}

.button-current:hover {
  cursor: default;
  background-color: #F2F2F2;
}

.button-current:active {
  color: #000000;
}

.button-more {
  display: block;
  margin: 0 auto 30px;
  padding-top: 13px;
  padding-bottom: 14px;
  width: 625px;
}

.button-small, .button-fav {
  height: 37px;
  font-size: 16px;
  line-height: 21px;
}

.button-small:hover {
  box-shadow: inset 0 0 0 1px #756257;
}

.button-small:focus {
  outline: none;
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #756257;
}

.button-small:not(:focus-visible) {
  background-color: #83B3D3;
}

.button-small:focus-visible {
  outline: none;
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #756257;
}

.hotel-container .button-small:active {
  box-shadow: inset 0 0 0 1px #756257;
}

.button-fav {
  background-color: #7DB54F;
}

.button-fav:hover {
  background-color: #6C9E42;
}

.button-fav:focus {
  outline: none;
  background-color: #6C9E42;
  box-shadow: 0 0 0 3px #756257;
}

.button-fav:focus:not(:focus-visible) {
  background-color: #7DB54F;
  box-shadow: none;
}

.button-fav:focus-visible {
  outline: none;
  background-color: #6C9E42;
  box-shadow: 0 0 0 3px #756257;
}

.button-fav:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6C9E42;
}



/* Footer */

.main-footer {
  display: flex;
  align-items: center;
  min-height: 120px;
  padding: 0 46px 0 61px;
}

.footer-social {
  width: 150px;
  margin-top: -5px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 4px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 10px;
}

.social-button svg {
  fill: #83B3D3;
}

.social-button:hover svg {
  fill: #68A2CA;
}

.social-button:focus {
  outline: none;
  border-color: #83B3D3;
}

.social-button:focus svg {
  fill: #68A2CA;
}

.social-button:focus:not(:focus-visible) {
  border-color: transparent;
}

.social-button:focus:not(:focus-visible) svg {
  fill: #83B3D3;
}

.social-button:focus-visible {
  outline: none;
  border-color: #83B3D3;
}

.social-button:focus-visible svg {
  fill: #68A2CA;
}

.social-button:active {
  opacity: 0.3;
  border: 3px solid transparent;
}

.social-button:active svg {
  fill: #68A2CA;
}

.footer-contacts {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7px;
}

.footer-contacts-phone {
  padding: 15px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  border: 3px solid transparent;
  border-radius: 10px;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  outline: none;
  color: #756257;
  border-color: #83B3D3;
}

.footer-contacts-phone:focus:not(:focus-visible) {
  color: #000000;
  border-color: transparent;
}

.footer-contacts-phone:focus-visible {
  outline: none;
  color: #756257;
  border-color: #83B3D3;
}

.footer-contacts-phone:active {
  color: #756257;
  opacity: 0.3;
  border: 3px solid transparent;
}

.footer-copyright {
  margin-top: -2px;
}

.footer-copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18.55px 22.55px;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-copyright svg {
  fill: #000000;
}

.footer-copyright-link:hover svg {
  fill: #756257;
}

.footer-copyright-link:focus {
  outline: none;
  border-color: #83B3D3;
}

.footer-copyright-link:focus svg {
  fill: #756257;
}

.footer-copyright-link:focus:not(:focus-visible) {
  border-color: transparent;
}

.footer-copyright-link:focus:not(:focus-visible) svg {
  fill: #000000;
}

.footer-copyright-link:focus-visible {
  outline: none;
  border-color: #83B3D3;
}

.footer-copyright-link:focus-visible svg {
  fill: #756257;
}

.footer-copyright-link:active {
  border: 3px solid transparent;
}

.footer-copyright-link:active svg {
  fill: #756257;
  opacity: 0.3;
}

/* System */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
