@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  background-color: #F2F2F2;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/* Header */

.main-header {
  height: 65px;
  padding-left: 71px;
  padding-right: 72px;
}

.nav {
  display: flex;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  margin-right: 33px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.nav-logo {
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -69px;
}

.nav-user {
  margin-left: auto;
}


.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756257;
  border: none;
  border-radius: 4px;
}

/* Main (Index) */

.welcome-title {
  font-size: 30px;
  text-transform: uppercase;
}

.welcome-container {
  height: 485px;
  text-align: center;
  background:
   url("../img/divider.svg") no-repeat center 428px,
   #68A2CA url("../img/index-bg.jpg") no-repeat center;
}

.welcome-pic {
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome-slogan {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-container {
  padding-right: 75px;
  padding-left: 75px;
}

.advantages-town {
  display: flex;
}

.advantages-bridge {
  display: flex;
}

.advantages-title, .advantages-subtitle {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description, .advantages-subdescription {
  font-size: 18px;
  line-height: 21px;
}

.advantages-sublist {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-town, .advantages-bridge {
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-house {
  box-sizing: border-box;
  width: 400px;
  padding-right: 75px;
  padding-left: 75px;
  background: rgba(131, 179, 211, 0.12) url("../img/house-icon.svg") no-repeat top;
}

.advantages-food {
  box-sizing: border-box;
  width: 400px;
  padding-right: 75px;
  padding-left: 75px;
  background: url("../img/food-icon.svg") no-repeat top;
}

.advantages-souvenir {
  box-sizing: border-box;
  width: 400px;
  padding-right: 75px;
  padding-left: 75px;
  background: rgba(131, 179, 211, 0.12) url("../img/souvenir-icon.svg") no-repeat top;
}

.advantages-territory, .advantages-tourists {
  box-sizing: border-box;
  width: 400px;
  padding-right: 75px;
  padding-left: 75px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-road {
  box-sizing: border-box;
  width: 400px;
  padding-right: 75px;
  padding-left: 75px;
  background-color: rgba(131, 179, 211, 0.2);
}

.search {
  padding: 0 240px;
  text-align: center;
}

.search-lead {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  line-height: 26px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 411px;
  padding: 0 200px;
  text-align: center;
  color: #ffffff;
  background: #68A2CA url("../img/subscribe-bg.jpg") no-repeat center;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  line-height: 26px;
}

/* Main (Inner) */

.filter-container {
  padding: 0 72px;
  color: #ffffff;
  background: #68A2CA url("../img/catalog-bg.jpg") no-repeat center;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-form-group {
  margin: 0;
  padding: 0;
  min-width: 220px;
  border: none;

}

.filter-form-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-form-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.filter-results {
  padding: 0 72px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
}

.hotel-card {
  display: flex;
  width: 100%;
  margin-bottom: 31px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-img {
  width: 180px;
  margin-right: 37px;
}

.hotel-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hotel-title {
  margin: 0;
  padding: 0;
}

.hotel-title-link {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.hotel-type {
  font-size: 18px;
  line-height: 23px;
}

.hotel-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.rating-container {
  display: flex;
  flex-direction: column;
}

.hotel-rating {
  width: 160px;
  font-size: 16px;
  line-height: 21px;
  background-color: #F2F2F2;
}

.count-form-label {
  font-size: 18px;
  line-height: 23px;
}

.subscribe-inner {
  color: #333333;
  background-color: #ffffff;
  background-image: none;
}

.pagination-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pagination {
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: inline-block;
  list-style: none;
}

.button-secondary {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  border-radius: 4px;
}

.button-more {
  display: block;
  margin: 0 auto 30px;
  width: 625px;
}

.button-small {
  font-size: 16px;
  line-height: 21px;
}

.button-fav {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: #7DB54F;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background: none;
  border: none;
}



/* Footer */

.main-footer {
  display: flex;
  align-items: center;
  height: 120px;
  padding: 0 72px;
}

.footer-social {
  width: 110px;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  margin-right: 30px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.social-button {
  display: block;
  width: 20px;
  height: 20px;
}

.tw-button {
  background: url("../img/twitter-icon.svg") no-repeat center;
}

.fb-button {
  background: url("../img/facebook-icon.svg") no-repeat center;
}

.you-button {
  background: url("../img/youtube-icon.svg") no-repeat center;
}

.footer-contacts {
  flex-grow: 1;
  margin: 0 auto;
  text-align: center;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-copyright {
  width: 115px;
  margin-left: auto;
}

/* System */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
