@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/* Header */

.main-header {
  position: relative;
  height: auto;
  min-height: 65px;
  padding-left: 56px;
  padding-right: 72px;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  position: relative;
  margin-right: -1px;
}

.nav-item:not(:last-child):not(.nav-user .nav-item) {
  margin-right: 3px;
}

.nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  border: 3px solid transparent;
  border-radius: 10px;
}

.nav-link-current::before {
  position: absolute;
  right: 10px;
  bottom: -15px;
  left: 12px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.nav-link:not(.nav-link-current):hover {
  color: #756257;
}

.nav-link-current:hover {
  cursor: default;
}

.nav-link:focus {
  outline: none;
  color: #756257;
  border-color: #83b3d3;
}

.nav-link:focus:not(:focus-visible) {
  color: #000000;
  border-color: transparent;
}

.nav-link:focus-visible {
  outline: none;
  color: #756257;
  border-color: #83b3d3;
}

.nav-link:active {
  color: #756257;
  opacity: 0.3;
  border: 3px solid transparent;
}

.nav-link-current:active {
  color: #000000;
  opacity: 1;
}

.nav-logo {
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -69px;
}

.nav-user {
  display: flex;
  align-items: center;
  width: auto;
  margin-left: auto;
  margin-right: 22px;
}

.nav-user .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 10px;
}

.nav-user .nav-link:hover svg {
  fill: #756257;
}

.nav-user .nav-link:focus {
  outline: none;
  border-color: #83b3d3;
}

.nav-user .nav-link:focus svg {
  fill: #756257;
}

.nav-user .nav-link:focus:not(:focus-visible) {
  border-color: transparent;
}

.nav-user .nav-link:focus:not(:focus-visible) svg {
  fill: #000000;
}

.nav-user .nav-link:focus-visible {
  outline: none;
  border-color: #83b3d3;
}

.nav-user .nav-link:focus-visible svg {
  fill: #756257;
}

.nav-user .nav-link:active {
  border: 3px solid transparent;
  opacity: 0.3;
}

.nav-user .nav-link:active svg {
  fill: #756257;
  opacity: 0.3;
}

.favourite-number {
  position: absolute;
  top: -2px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: -0.1em;
  color: #ffffff;
  border-radius: 11px;
  background: #7db54f;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
}

a.button {
  display: block;
  box-sizing: border-box;
  max-width: 280px;
  min-height: 37px;
  margin: 14px 0;
  padding: 0 35px;
  line-height: 37px;
  text-align: center;
}

a.button:hover {
  background-color: #615048;
}

a.button:focus {
  outline: none;
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

a.button:focus:not(:focus-visible) {
  background-color: #756257;
  box-shadow: none;
}

a.button:focus-visible {
  outline: none;
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

a.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  box-shadow: none;
}

.hotel-container a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  margin: 0;
  padding: 0;
}

.hotel-container .button-small,
.hotel-container .button-fav {
  align-self: flex-end;
}

a.button-search {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 59px;
  padding: 12px 150px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

/* Main (Index) */

.welcome {
  padding-bottom: 80px;
}

.welcome-container {
  height: 485px;
  text-align: center;
  background:
    url("../img/divider.svg") no-repeat center 428px,
    #68a2ca url("../img/index-bg.jpg") no-repeat center;
}

.welcome-pic {
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome-slogan {
  width: 720px;
  margin: 0 auto;
  padding-top: 61px;
  text-align: center;
}

.welcome-title {
  margin-top: 0;
  margin-bottom: 33px;
  font-size: 30px;
  text-transform: uppercase;
}

.welcome-description {
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.advantages-pic {
  height: auto;
}

.advantages-container {
  padding: 98px 90px 77px 90px;
  min-width: 400px;
  box-sizing: border-box;
}

.advantages-town {
  display: flex;
}

.advantages-bridge {
  display: flex;
}

.advantages-title,
.advantages-subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description,
.advantages-subdescription {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-title {
  margin-bottom: 26px;
}

.advantages-description:not(:last-child) {
  margin-bottom: 30px;
}

.advantages-subtitle {
  margin-bottom: 20px;
}

.advantages-sublist {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-town,
.advantages-bridge {
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-territory,
.advantages-tourists,
.advantages-road,
.advantages-house,
.advantages-food,
.advantages-souvenir {
  box-sizing: border-box;
  width: 400px;
  padding: 98px 90px 77px;
}

.advantages-house {
  padding-top: 184px;
  padding-bottom: 89px;
  background: rgba(131, 179, 211, 0.12) url("../img/house-icon.svg") no-repeat;
  background-position: center 89px;
}

.advantages-food {
  padding: 184px 86px 89px;
  background: url("../img/food-icon.svg") no-repeat;
  background-position: center 91px;
}

.advantages-souvenir {
  padding-top: 184px;
  padding-bottom: 89px;
  background: rgba(131, 179, 211, 0.12) url("../img/souvenir-icon.svg") no-repeat;
  background-position: center 85px;
}

.advantages-territory,
.advantages-tourists {
  padding-bottom: 110px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-territory {
  padding: 98px 84px 110px;
}

.advantages-road {
  padding: 98px 84px 110px;
  background-color: rgba(131, 179, 211, 0.2);
}

.search {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 89px 100px 91px;
  text-align: center;
}

.search-lead {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  margin: 0;
  line-height: 26px;
}

/* Subscribe */

.subscribe {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 411px;
  padding: 92px 200px;
  text-align: center;
  color: #ffffff;
  background: #68a2ca url("../img/subscribe-bg.jpg") no-repeat center;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 15px;
  line-height: 26px;
}

/* Subscribe form */

.subscribe-form {
  display: flex;
  align-items: stretch;
  margin-top: 32px;
}

.field {
  box-sizing: border-box;
  margin: 0;
  padding: 17px 22px;
  width: 600px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field:hover,
.field:focus {
  background-color: #e6e6e6;
}

.field:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.field:focus:not(:focus-visible) {
  background-color: #f2f2f2;
  box-shadow: none;
}

.field:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.field:not(:placeholder-shown) {
  color: #000000;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #000000;
}

.field.error {
  color: rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #ff5757;
}

.subscribe-form .button-secondary {
  margin: 0;
  width: 200px;
  border-radius: 0 10px 10px 0;
}

/* Main (Inner) */

.filter-container {
  box-sizing: border-box;
  min-height: 408px;
  margin-bottom: 44px;
  padding: 42px 72px 61px 70px;
  color: #ffffff;
  background: #68a2ca url("../img/catalog-bg.jpg") no-repeat center;
  background-size: cover;
}

.inner-header {
  margin-bottom: 41px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

/* Breadcrumbs */

.breadcrumbs {
  position: relative;
  display: flex;
  margin: 0;
  margin-left: -9px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.breadcrumbs-link {
  display: block;
  padding: 3px 5px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 4px;
}

.breadcrumbs-home {
  display: block;
  width: 28px;
  height: 27px;
  padding: 0;
  background: url("../img/home-icon.svg") no-repeat center 6px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  top: 40%;
  right: -6px;
  width: 6px;
  height: 8px;
  background: url("../img/nav-arrow.svg") no-repeat;
  content: "";
  opacity: 0.3;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: none;
  border-color: #83b3d3;
}

.breadcrumbs-link:focus:not(:focus-visible) {
  border-color: transparent;
}

.breadcrumbs-link:focus-visible {
  outline: none;
  border-color: #83b3d3;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-current:hover,
.breadcrumbs-current:active {
  opacity: 1;
}

/* Filters */

.filter-form {
  display: flex;
}

.filter-form-group {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset-facilities {
  width: 200px;
  margin-right: 17px;
}

.fieldset-hometype {
  width: 300px;
  margin-right: 13px;
}

.fieldset-range {
  width: 287px;
  margin-right: 81px;
}

.filter-form-title {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 25px;
}

.filter-form-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Control */

.control {
  position: relative;
  display: block;
  padding-left: 41px;
}

/* Mark */

.control-mark {
  position: absolute;
  top: 9px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  right: 3px;
  width: 13px;
  height: 10px;
  background: url("../img/checkmark-icon.svg") no-repeat;
  content: "";
}

.control-input[type="checkbox"]:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83b3d3;
}

.control-input[type="checkbox"]:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Radio */

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before,
.control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83b3d3;
}

.control-input[type="radio"]:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

/* Range */

.range {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  left: 0;
  width: 236px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.range-toggle:focus:not(:focus-visible) {
  box-shadow: none;
}

.range-toggle:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.range-bar .range-toggle:active {
  outline: none;
  box-shadow: 0 0 0 2px #83b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 28px;
}

.range-price-wrapper {
  position: relative;
}

.filter-form-label {
  position: absolute;
  top: 5px;
  right: 14px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
}

.filter-form-input {
  margin: 0;
  padding: 12px 37px 9px 15px;
  width: 143.5px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  appearance: textfield;
}

.input-min-price {
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #ffffff;
}

.input-max-price {
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #ffffff;
}

.filter-form-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.filter-form-input:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #81b3d2, 0 0 0 3px #81b3d2;
}

.filter-form-input:focus:not(:focus-visible) {
  box-shadow: none;
}

.filter-form-input:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 3px #81b3d2, 0 0 0 3px #81b3d2;
}

.filter-form-input:active {
  background-color: #756257;
}

.filter-form-input::-webkit-outer-spin-button,
.filter-form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Filter buttons */

.button-container {
  display: flex;
  flex-direction: column;
  width: 160px;
  text-align: center;
}

.filter-button {
  display: block;
  margin: 58px 0 19px;
  padding: 13px 0 14px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #68a2ca;
}

.filter-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff;
}

.filter-button:focus:not(:focus-visible) {
  background: #83b3d3;
  box-shadow: none;
}

.filter-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff;
}

.filter-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
  box-shadow: none;
}

.reset-button {
  display: block;
  margin: 0 auto;
  padding: 1px 10px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.reset-button:focus:not(:focus-visible) {
  box-shadow: none;
}

.reset-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.reset-button:active {
  opacity: 0.3;
  box-shadow: none;
}

/* Hotels list */

.filter-results {
  padding: 0 72px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.results-text {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.sorting-form {
  margin-left: auto;
  margin-right: 81px;
}

.select {
  position: relative;
  width: 287px;
}

.select-control {
  width: 100%;
  padding: 13px 51px 13px 17px;
  font: inherit;
  font-size: 18px;
  line-height: 1;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background: url("../img/dropdown-arrow.svg") no-repeat;
  background-position: right 19px center;
  appearance: none;
  -webkit-appearance: none;
}

.select-control:hover {
  border-color: #83b3d3;
}

.select-control:focus {
  outline: none;
  border-color: #83b3d3;
}

.select-control:focus:not(:focus-visible) {
  border-color: #e6e6e6;
}

.select-control:focus-visible {
  outline: none;
  border-color: #83b3d3;
}

.viewtype-button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.viewtype-button:last-child {
  margin-right: 0;
}

.viewtype-button:hover,
.viewtype-button:focus {
  outline: none;
  border-color: #83b3d3;
}

.viewtype-button:focus:not(:focus-visible) {
  border-color: #e6e6e6;
}

.viewtype-button:focus-visible {
  outline: none;
  border-color: #83b3d3;
}


.viewtype-button-current {
  border-color: #000000;
}

.viewtype-button-current:hover {
  border-color: #000000;
  cursor: default;
}

.hotel-card {
  display: flex;
  width: 100%;
  margin-bottom: 31px;
  padding-bottom: 29px;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-card:first-of-type {
  padding-top: 30px;
  border-top: 1px solid #e6e6e6;
}

.hotel-img-link {
  height: 120px;
  margin-right: 36px;
}

.hotel-img-link:focus {
  outline: none;
}

.hotel-img {
  width: 180px;
}

.hotel-img-link:hover img {
  opacity: 0.6;
}

.hotel-img-link:focus img {
  outline: 3px solid #83b3d3;
  outline-offset: 0;
}

.hotel-img-link:focus:not(:focus-visible) img {
  outline: none;
}

.hotel-img-link:focus-visible img {
  outline: 3px solid #83b3d3;
  outline-offset: 0;
}

.hotel-img-link:active img {
  opacity: 0.3;
}

.hotel-container {
  display: grid;
  grid-template-columns: 151px 160px;
  grid-template-rows: min-content min-content;
  align-items: start;
  column-gap: 8px;
  flex-grow: 1;
}

.hotel-title {
  grid-column: span 2;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}

.hotel-title-link {
  display: block;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  border-radius: 1px;
}

.hotel-title-link:hover {
  color: #756257;
}

.hotel-title-link:focus {
  outline: 3px solid #83b3d3;
  outline-offset: 5px;
  color: #756257;
}

.hotel-title-link:focus:not(:focus-visible) {
  outline: none;
  color: #000000;
}

.hotel-title-link:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: 5px;
  color: #756257;
}

.hotel-container .hotel-title-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.hotel-type {
  font-size: 18px;
  line-height: 31px;
}

.hotel-price {
  font-size: 18px;
  line-height: 31px;
  font-weight: 400;
}

.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hotel-star {
  display: flex;
  margin-top: 1px;
}

.hotel-star-pic:not(:last-child) {
  margin-right: 7px;
}

.hotel-rating {
  display: block;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 21px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.count-form-label {
  margin-right: 51px;
  padding-top: 15px;
  font-size: 18px;
  line-height: 23px;
}

.subscribe-inner {
  min-height: auto;
  padding-top: 87px;
  padding-bottom: 138px;
  color: #333333;
  background-color: #ffffff;
  background-image: none;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -20px;
  padding-top: 30px;
  border-top: 1px solid #e6e6e6;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.pagination-item {
  list-style-type: none;
  margin-right: 8px;
  margin-bottom: 20px;
}

.count-form {
  display: flex;
  align-items: flex-start;
  max-width: 450px;
}

.count-form .select {
  flex-shrink: 0;
  width: 160px;
  padding-top: 3px;
}

.button-secondary {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: #68a2ca;
}

.button-secondary:focus {
  outline: none;
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.button-secondary:focus:not(:focus-visible) {
  background-color: #83b3d3;
  box-shadow: none;
}

.button-secondary:focus-visible {
  outline: none;
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.button-secondary:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item .button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
}

.button-current {
  color: #000000;
  background-color: #f2f2f2;
}

.button-current:hover {
  cursor: default;
  background-color: #f2f2f2;
}

.button-current:active {
  color: #000000;
}

.button-more {
  display: block;
  margin: 0 auto 30px;
  padding-top: 15px;
  padding-bottom: 14px;
  width: 625px;
}

.button-small,
.button-fav {
  min-height: 37px;
  font-size: 16px;
  line-height: 21px;
}

.button-small:hover {
  box-shadow: inset 0 0 0 1px #756257;
}

.button-small:focus {
  outline: none;
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.button-small:not(:focus-visible) {
  background-color: #83b3d3;
}

.button-small:focus-visible {
  outline: none;
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.hotel-container .button-small:active {
  box-shadow: inset 0 0 0 1px #756257;
}

.button-fav {
  background-color: #7db54f;
}

.button-fav:hover {
  background-color: #6c9e42;
}

.button-fav:focus {
  outline: none;
  background-color: #6c9e42;
  box-shadow: 0 0 0 3px #756257;
}

.button-fav:focus:not(:focus-visible) {
  background-color: #7db54f;
  box-shadow: none;
}

.button-fav:focus-visible {
  outline: none;
  background-color: #6c9e42;
  box-shadow: 0 0 0 3px #756257;
}

.button-fav:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6c9e42;
}

/* Footer */

.main-footer {
  display: flex;
  align-items: center;
  min-height: 120px;
  padding: 0 46px 0 61px;
}

.footer-social {
  min-width: 150px;
  max-width: 200px;
  margin-top: -5px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 4px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 10px;
}

.social-button svg {
  fill: #83b3d3;
}

.social-button:hover svg {
  fill: #68a2ca;
}

.social-button:focus {
  outline: none;
  border-color: #83b3d3;
}

.social-button:focus svg {
  fill: #68a2ca;
}

.social-button:focus:not(:focus-visible) {
  border-color: transparent;
}

.social-button:focus:not(:focus-visible) svg {
  fill: #83b3d3;
}

.social-button:focus-visible {
  outline: none;
  border-color: #83b3d3;
}

.social-button:focus-visible svg {
  fill: #68a2ca;
}

.social-button:active {
  opacity: 0.3;
  border: 3px solid transparent;
}

.social-button:active svg {
  fill: #68a2ca;
}

.footer-contacts {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7px;
}

.footer-contacts-phone {
  padding: 15px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  border: 3px solid transparent;
  border-radius: 10px;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  outline: none;
  color: #756257;
  border-color: #83b3d3;
}

.footer-contacts-phone:focus:not(:focus-visible) {
  color: #000000;
  border-color: transparent;
}

.footer-contacts-phone:focus-visible {
  outline: none;
  color: #756257;
  border-color: #83b3d3;
}

.footer-contacts-phone:active {
  color: #756257;
  opacity: 0.3;
  border: 3px solid transparent;
}

.footer-copyright {
  margin-top: -2px;
}

.footer-copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18.55px 22.55px;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-copyright svg {
  fill: #000000;
}

.footer-copyright-link:hover svg {
  fill: #756257;
}

.footer-copyright-link:focus {
  outline: none;
  border-color: #83b3d3;
}

.footer-copyright-link:focus svg {
  fill: #756257;
}

.footer-copyright-link:focus:not(:focus-visible) {
  border-color: transparent;
}

.footer-copyright-link:focus:not(:focus-visible) svg {
  fill: #000000;
}

.footer-copyright-link:focus-visible {
  outline: none;
  border-color: #83b3d3;
}

.footer-copyright-link:focus-visible svg {
  fill: #756257;
}

.footer-copyright-link:active {
  border: 3px solid transparent;
}

.footer-copyright-link:active svg {
  fill: #756257;
  opacity: 0.3;
}

/* Popover */

.popover {
  display: none;
  position: absolute;
  top: 49px;
  left: -178px;
  z-index: 1;
  width: 400px;
  min-height: 190px;
  padding: 18px 14px 0 18px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.popover-open {
  display: block;
}

.popover::before {
  position: absolute;
  top: -9px;
  left: 50%;
  margin-left: -12px;
  width: 0;
  height: 0;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
  border-style: solid;
  filter: drop-shadow(0 -1px 0 #e6e6e6);
  content: "";
}

.popover-content {
  height: 100%;
}

.favourite-items-list {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  list-style-type: none;
}

.favourite-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.favourite-item:last-child {
  margin-bottom: 0;
}

.favourite-link {
  position: relative;
  display: grid;
  grid-template-columns: 6px 48px 17px auto 7px;
  grid-template-rows: 6px min-content auto 7px;
  text-decoration: none;
  color: #000000;
  border-radius: 10px;
}

.favourite-link:hover {
  opacity: 0.6;
}

.popover .favourite-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.popover .favourite-link:focus:not(:focus-visible) {
  box-shadow: none;
}

.popover .favourite-link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.favourite-link:active {
  opacity: 0.3;
}

.hotel-img-preview {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.favourite-hotel-name {
  grid-column: 4 / 5;
  grid-row: 2;
  margin: 0;
  margin-top: 4px;
  font-size: 18px;
  font-weight: 700;
}

.favourite-hotel-type {
  grid-column: 4 / 5;
  grid-row: 3;
}


.delete-button {
  margin: 0;
  margin-top: 3px;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  background: url("../img/delete-icon.svg") no-repeat center;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  opacity: 0.3;
  cursor: pointer;
}

.delete-button:hover {
  opacity: 1;
}

.delete-button:focus {
  outline: none;
  opacity: 1;
  box-shadow: 0 0 0 3px #83b3d3;
}

.delete-button:focus:not(:focus-visible) {
  opacity: 0.3;
  box-shadow: none;
}

.delete-button:focus-visible {
  outline: none;
  opacity: 1;
  box-shadow: 0 0 0 3px #83b3d3;
}

.delete-button:active {
  opacity: 0.1;
}

.popover-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -19px -2px -19px;
  width: 400px;
  height: 60px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  border: 3px solid #756257;
  border-radius: 0 0 20px 20px;
}

.popover-button:hover {
  background-color: #615048;
  border-color: #615048;
}

.popover-button:focus {
  outline: none;
  background-color: #615048;
  border-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

.popover-button:focus:not(:focus-visible) {
  background-color: #756257;
  border-color: #756257;
  box-shadow: none;
}

.popover-button:focus-visible {
  outline: none;
  background-color: #615048;
  border-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

.popover-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  border-color: #615048;
  box-shadow: none;
}

/* Modal window */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 60px 70px 70px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 715px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e5e5e5;
}

.modal-close-button:focus {
  outline: none;
  background-color: #e5e5e5;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-close-button:focus:not(:focus-visible) {
  background-color: #f2f2f2;
  box-shadow: none;
}

.modal-close-button:focus-visible {
  outline: none;
  background-color: #e5e5e5;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-close-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
}

.modal-close-button:active svg {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}

.search-form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-form .search-form-container:last-child {
  margin-bottom: 22px;
}

.search-people {
  display: flex;
}

.search-form-label {
  padding-top: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.search-kids {
  position: relative;
}

.search-kids .search-form-label {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.search-kids .search-form-label:hover ~ .popover-kids-tooltip {
  display: block;
}


.quantity-tooltip {
  margin: 9px 19px 0 10px;
  width: 25px;
  height: 25px;
  background: url("../img/info-icon.svg") no-repeat center;
  background-color: #83b3d3;
  border-radius: 50%;
  cursor: pointer;
}

.search-put-in {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
}

.search-arrival .search-put-in,
.search-departure .search-put-in {
  width: 420px;
}

.search-adults .search-put-in,
.search-kids .search-put-in {
  width: 133px;
}

.search-input-container {
  position: relative;
}

.search-arrival .search-input-container::after,
.search-departure .search-input-container::after {
  position: absolute;
  top: 19px;
  right: 19px;
  width: 15px;
  height: 15px;
  background: url("../img/calendar-icon.svg") no-repeat center;
  content: "";
  opacity: 0.3;
}

.search-form-input {
  margin: 0;
  padding: 5px 19px;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  background: #f2f2f2;
  border: none;
  border-radius: 4px;
  appearance: textfield;
}

.search-form-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-adults .search-form-input,
.search-kids .search-form-input {
  padding-left: 41px;
  padding-right: 41px;
  text-align: center;
}

.search-form-input::-webkit-outer-spin-button,
.search-form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search-form-input:hover {
  background-color: #e6e6e6;
}

.search-form-input:focus {
  outline: none;
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.search-form-input:not(:placeholder-shown) {
  color: #000000;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #000000;
}

.search-form-note {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
}

.search-form .error {
  color: #ff5757;
}

.search-form-button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
}

.search-form-button:hover {
  background-color: #68a2ca;
}

.search-form-button:focus {
  outline: none;
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.search-form-button:focus:not(:focus-visible) {
  background-color: #83b3d3;
  box-shadow: none;
}

.search-form-button:focus-visible {
  outline: none;
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.search-button-minus,
.search-button-plus {
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  opacity: 0.3;
}

.search-button-minus {
  left: 15px;
  background: url("../img/minus-icon.svg") no-repeat center;
}

.search-button-plus {
  right: 15px;
  background: url("../img/plus-icon.svg") no-repeat center;
}

.search-button-minus:hover,
.search-button-plus:hover {
  opacity: 1;
}

.search-button-minus:focus,
.search-button-plus:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
  opacity: 1;
}

.search-button-minus:focus:not(:focus-visible),
.search-button-plus:focus:not(:focus-visible) {
  box-shadow: none;
  opacity: 0.3;
}

.search-button-minus:focus-visible,
.search-button-plus:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
  opacity: 1;
}

.search-button-minus:active,
.search-button-plus:active {
  opacity: 0.2;
}

/* Popover tooltip for search form */

.popover-kids-tooltip {
  display: none;
  position: absolute;
  top: 55px;
  left: -5px;
  width: 256px;
  min-height: 140px;
  padding: 20px 18px 23px 22px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
}

.popover-kids-tooltip::before {
  position: absolute;
  top: -9px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #333333 transparent;
  border-style: solid;
  content: "";
}

.popover-kids-tooltip p {
  margin: 0;
  padding: 0;
}

/* System */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
